.quick-data {
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin: 10px auto 10px auto;
    width: 25%;
}

.temp {
    font-size: 40px;
    text-align: left;
    display: inline-block;
}

.minor {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}

button {
    padding: 5px;
    width: 12%;
}